body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    /* border: 1px solid white; */
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-icon {
    display: none;
}

.respons-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    height: 10%;
    padding: 2%;
    background-color: #000000;
    z-index: 1;
}

header ul {
    display: flex;
    gap: 10vw;
    list-style-type: none;
    align-items: center;
    /* border: 1px solid white; */
    margin-right: 6.5vw;
}

header img {
    border: 1px solid #174b83;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

header .nav-link {
    text-decoration: none;
    font-size: 1.2vw;
    padding: 30%;
    border-radius: 18%;
    display: inline-block;
}

.nav-link-color {
    color: grey;
}

.active {
    color: white;
    background-color: hsla(230, 39%, 47%, 0.3);
}

header .nav-link:hover {
    background-color: hsla(230, 39%, 47%, 0.3);
}

.contact {
    background-color: white;
    color: black;
    padding: 30%;
    font-size: 1vw;
    border-radius: 18%;
    transition: 0.2s;
    border: 1px solid white;
    text-decoration: none;
}

.contact:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Main */

.contact-container {
    height: 70vw;
    /* border: 1px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    justify-content: start;
}

.contact-container>h3 {
    font-size: 2vw;
}

.contact-container>form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    border: 3px solid rgba(18, 77, 146, 0.838);
    border-radius: 2vw;
    width: 40vw;
    padding: 2vw;
    gap: 1.5vw;
}

.contact-container label {
    font-size: 1.5vw;
}

.contact-container input {
    height: 2vw;
}

.contact-container button {
    color: white;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 10vw;
    font-size: 1vw;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 2vw;
}

.contact-container button:hover {
    background-color: white;
    color: black;
}

.contact-container select {
    height: 2.5vw;
    font-size: 1vw;
    font-family: poppins;
}

.contact-container textarea {
    font-size: 1vw;
    height: 10vw;
    padding: 1vw;
    font-family: poppins;
}

/* Footer */

footer {
    background-color: #0d1324;
    /* border: 1px solid white; */
    padding: 3%;
    display: flex;
    gap: 10vh;
}

.footer-contact {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
}

.footer-contact>h3 {
    color: lightslategray;
    font-size: 2vw;
}

.footer-contact>p {
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-about a {
    text-decoration: none;
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-info>h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info>a {
    color: lightslategray;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vw;
    font-size: 1.5vw;
}

.icon-footer {
    color: lightslategray;
    width: 2vw;
    height: 2vw;
}

.footer-info>p {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
}



@media only screen and (max-width: 768px) {

    header {
        position: static;
    }

    header nav {
        /* border: 1px solid white; */
        justify-content: flex-end;
        margin: 0;
    }

    nav ul {
        display: none;
    }

    .respons-menu {
        padding: 2vw;
        margin: 0;
    }

    .menu-icon {
        display: block;
        width: 8vw;
        height: 8vw;
        color: white;
        cursor: pointer;
    }

    .respons-menu-on {
        display: block;
        margin: 0;
        background-color: #07111c;
    }

    .respons-menu ul {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding-right: 3vw;
    }

    .respons-menu a {
        text-decoration: none;
        color: grey;
        font-size: 3vw;
    }

    /* contact container */

    .contact-container {
        height: 200vw;
        justify-content: center;
    }

    .contact-container h3 {
        font-size: 5vw;
    }

    .contact-container>form {
        border: none;
        width: 75vw;
        height: 150vw;
        gap: 3vw;
    }

    .contact-container label {
        font-size: 3.5vw;
    }

    .contact-container input {
        height: 5vw;
    }

    .contact-container button {
        color: black;
        padding: 1vw;
        border-radius: 1vw;
        width: 25vw;
        font-size: 3vw;
        background-color: white;
        border: 1px solid white;
        margin-top: 2vw;
    }

    .contact-container select {
        height: 5vw;
        font-size: 3vw;
        font-family: poppins;
    }

    .contact-container textarea {
        font-size: 3vw;
        height: 30vw;
        font-family: poppins;
    }

    /* Footer */

    footer {
        background-color: #0d1324;
        /* border: 1px solid white; */
        padding: 4vw;
        display: flex;
        gap: 10vw;
        height: 50vw;
    }

    .footer-contact {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        /* padding-top: 10px; */
    }

    .footer-contact>h3 {
        color: lightslategray;
        font-size: 4vw;
    }

    .footer-contact>p {
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-about a {
        text-decoration: none;
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-info>h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info>a {
        color: lightslategray;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 2vw;
        font-size: 3vw;
    }

    .icon-footer {
        color: lightslategray;
        width: 4vw;
        height: 4vw;
    }

    .footer-info>p {
        margin-top: 3vw;
        font-size: 2.5vw;
        color: white;
    }
}