body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.active {
    background-color: hsla(230, 39%, 47%, 0.3);
    border-radius: 1vw;
}

.custom-container-project-none {
    display: none;
}

.post-project-container-none {
    display: none;
}

.post-project-container {
    display: flex;
    justify-content: center;
}

.custom-container-project {
    display: flex;
    height: fit-content;
    /* border: 1px solid white; */
    gap: 5vw;
    margin-bottom: 20vw;
}

.custom-container-project-none {
    display: none;
}

.img-custom-project {
    width: 93vw;
    height: 45vw;
}

.card-custom-project {
    width: 100vw;
    height: 100vw;
}



@media screen and (min-width: 992px) {

    .custom-container-landing {
        /* height: 50vh; */
        padding-top: 10vw;
    }

    .custom-container-cta {
        height: 40vw;
        /* border: 1px solid white; */
    }

    .custom-container-project {
        display: flex;
        height: fit-content;
        /* border: 1px solid white; */
    }

    .custom-container-project-none {
        display: none;
    }

    .img-custom-project {
        width: 21.5rem;
        height: 15rem;
    }

    .card-custom-project {
        border: 1px solid blue;
        height: 35rem;
        width: 21.5rem;
    }

}