body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    /* border: 1px solid white; */
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-icon {
    display: none;
}

.respons-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid white; */
    height: 10%;
    padding: 1vw;
    background-color: #000000;
    z-index: 1;
}

header ul {
    display: flex;
    gap: 10vw;
    list-style-type: none;
    align-items: center;
    /* border: 1px solid white; */
    margin-right: 6.5vw;
}

header img {
    border: 1px solid #174b83;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

header .nav-link {
    text-decoration: none;
    font-size: 1.2vw;
    padding: 30%;
    border-radius: 18%;
    display: inline-block;
}

.nav-link-color {
    color: grey;
}

.active {
    color: white;
    background-color: hsla(230, 39%, 47%, 0.3);
}

header .nav-link:hover {
    background-color: hsla(230, 39%, 47%, 0.3);
}

.contact {
    background-color: white;
    color: black;
    padding: 30%;
    font-size: 1vw;
    border-radius: 18%;
    transition: 0.2s;
    border: 1px solid white;
    text-decoration: none;
}

.contact:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Main */

main {}

.intro-container {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    padding: 5%;
    align-items: flex-start;
    height: 50vw;
}

.intro-card>img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 1.6vw;
}

.intro-card {
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    flex-direction: column;
    box-shadow: 0 0 10px #158bf9a9;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid  rgb(14, 36, 92);
    background: rgba(37, 44, 101, 0.2);
    align-items: center;
    border-radius: 2vw;
}

.intro-card > h1 {
    /* border: 1px solid white; */
    width: 100%;
    text-align: center;
    letter-spacing: 0.8vw;
    font-size: 2.5vw;
    font-weight: 300;
    color: rgb(190, 193, 226);
}

.intro {
    color: white;
}

.intro>h1,
h2 {
    /* border: 1px solid white; */
    margin: 0;
}

.intro>h2 {
    font-size: 3vw;
}

.intro>h2>span {
    color: rgb(128, 179, 255);
}

h1 {
    opacity: 0.9;
    font-size: 70px;
    font-family: bebas neue;
    color: rgba(255, 255, 255, 0.7);
}

.me-icon {
    /* border: 1px solid white; */
    display: flex;
    gap: 2vw;
}

.icon {
    margin-top: 1vw;
    color: white;
    width: 3vw;
    height: 3vw;
    /* border: 1px solid white; */
    transition: 0.3s;
}

.github:hover {
    color: purple;
}

.linkedin:hover {
    color: #0077b5;
}

.container {
    display: flex;
}

.container p {
    font-size: 3.5vw;
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

/* Simple about */

.about-container {
    /* border: 1px solid white; */
    display: flex;
    padding: 0 2% 0 2%;
    justify-content: space-around;
    height: 50vw;
    align-items: center;
}

.about-container>div>h2 {
    font-size: 2vw;
    color: white;
}

.about-container>div {
    width: 20vw;
    height: 27vw;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(52, 69, 181, 0.3);
    background: rgba(37, 44, 101, 0.2);
    padding: 2%;
    transition: 0.2s;
    cursor: pointer;
}

.about-container>div:hover {
    box-shadow: 0 0 20px #e9f4ff7b;
}

.link-more {
    font-size: 1vw;
    color: white;
}

.about-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 16px;
    border: 4px solid rgba(52, 69, 181, 0.3);
}

.about-container>div>p {
    color: white;
    font-size: 1vw;
    line-height: 2vw;
    letter-spacing: 0.1vw;
}

.about-container>div>p>.job {
    color: #7fbee0;
    font-weight: bolder;
}

.about-container>div>p>.name {
    color: #ffa15e;
}

/* Skill container */

.skill-container {
    /* border: 1px solid white; */
    height: 30vw;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basic-skill,
.framework-skill,
.backend-skill {
    /* border: 1px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    width: 15vw;
    height: 10vw;
    background: rgba(37, 44, 101, 0.2);
    border-radius: 2vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(52, 69, 181, 0.3);
}

.basic-skill h2,
.framework-skill h2,
.backend-skill h2 {
    font-weight: 300;
    font-size: 1.2vw;
}

.skill-icon {
    width: 4vw;
    height: 4vw;
    transition: 0.2s;
}

.html-5:hover {
    color: #e34c26;
}

.css-3:hover {
    color: #1976d2;
}

.js-es:hover {
    color: #f0db4f;
}

.vue:hover {
    color: #42b883;
}

.react:hover {
    color: #61DBFB;
}

.nodejs:hover {
    color: #3c873a;
}

.py:hover {
    color: #306998;
}

.icon-container {
    display: flex;
    gap: 2vh;
}

/* Project not-detail */

.more-container {
    /* border: 1px solid white; */
    height: 55vw;
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 6.5vw;
}

.project-block {
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 18vw;
    padding: 4vw;
    gap: 2vw;
    border-radius: 1vw;
    border: 4px solid rgba(52, 69, 181, 0.3);
}

.blog-content {
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-img-block {
    display: flex;
    gap: 2vw;
}

.project-block p {
    color: white;
    font-size: 1.5vw;
}

.project-block a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    gap: 0.5vw;
    align-items: center;
    color: white;
    font-size: 1vw;
}

.arrow-icon {
    width: 2vw;
    height: 2vw;
}

.project-img {
    border-radius: 1vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: #0d1324;
    /* border: 1px solid white; */
    padding: 3%;
    display: flex;
    gap: 10vh;
}

.footer-contact {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.footer-contact>h3 {
    color: lightslategray;
    font-size: 2vw;
}

.footer-contact>p {
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-about a {
    text-decoration: none;
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-info>h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info>a {
    color: lightslategray;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vw;
    font-size: 1.5vw;
}

.icon-footer {
    color: lightslategray;
    width: 2vw;
    height: 2vw;
}

.footer-info>p {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
}

@media only screen and (max-width: 768px) {

    header {
        position: static;
    }

    header nav {
        /* border: 1px solid white; */
        justify-content: flex-end;
        margin: 0;
    }

    nav ul {
        display: none;
    }

    .respons-menu {
        padding: 2vw;
        margin: 0;
    }

    .menu-icon {
        display: block;
        width: 8vw;
        height: 8vw;
        color: white;
        cursor: pointer;
        margin-right: 5vw;
    }

    .respons-menu-on {
        display: block;
        margin: 0;
        background-color: #07111c;
    }

    .respons-menu ul {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding-right: 3vw;
    }

    .respons-menu a {
        text-decoration: none;
        color: grey;
        font-size: 3vw;
    }

    /* Main */

    .intro-container {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 15vw;
        padding: 20vw 0vw 0vw 0vw;
        align-items: center;
        height: 175vw;
    }

    .intro-card>img {
        width: 60vw;
        height: 60vw;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 10px #158bf9a9;
    }

    .intro-card {
        width: 60vw;
        height: 60vw;
        background-color: none;
        border: none;
        /* border: 1px solid white; */
        display: block;
        box-shadow: none;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: none;
        background: none;
    }

    .intro-card > h1 {
        display: none;
    }

    .intro {
        color: white;
    }

    .intro>h1,
    h2 {
        /* border: 1px solid white; */
        margin: 0;
    }

    .intro>h2 {
        font-size: 5.7vw;
    }

    .intro>h2>span {
        color: rgb(128, 179, 255);
    }

    .me-icon {
        gap: 2vw;
    }

    .icon {
        margin-top: 1vw;
        width: 4.5vw;
        height: 4.5vw;
    }

    .container {}

    .container p {
        font-size: 6.8vw;
        margin: 0;
        letter-spacing: 0.1rem;
    }

    .container p span.cursor {
        margin-left: 0.1rem;
        width: 3px;
    }

    .about-container {
        height: 100vw;
        border-top: 1px solid rgba(52, 69, 181, 0.3);
        border-bottom: 1px solid rgba(52, 69, 181, 0.3);
        background: rgba(37, 44, 101, 0.2);
        justify-content: center;
    }

    .about-container div {
        border: none;
        width: 100vw;
        height: auto;
        background-color: transparent;
        cursor: default;
    }

    .about-container>div:hover {
        box-shadow: none;
    }

    .link-more {
        font-size: 3vw;
    }

    .about-container>div>h2 {
        font-size: 5vw;
    }

    .about-container>div>p {
        font-size: 3vw;
        line-height: 5vw;
        letter-spacing: 0.5vw;
    }

    .about-container img {
        display: none;
    }

    .skill-container {
        /* border: 1px solid white; */
        align-items: center;
        justify-content: center;
        gap: 8vw;
        height: 200vw;
        flex-direction: column;
    }

    .basic-skill,
    .backend-skill,
    .framework-skill {
        width: 70vw;
        height: 20vw;
    }

    .basic-skill h2,
    .framework-skill h2,
    .backend-skill h2 {
        font-weight: 300;
        font-size: 3.5vw;
    }

    .skill-icon {
        width: 8vw;
        height: 8vw;
        transition: 0.2s;
    }

    /* More */

    .more-container {
        /* border: 1px solid white; */
        height: 200vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        gap: 3vw;
    }

    .project-block {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        height: 80vw;
        padding: 0vw 10vw 0vw 10vw;
        gap: 5vw;
        border-radius: 1vw;
        border: none;
    }

    .blog-content {
        height: 100%;
        display: flex;
        gap: 1vw;
        justify-content: center;
    }

    .project-img-block {
        display: flex;
        gap: 2vw;
    }

    .project-block p {
        color: white;
        font-size: 5vw;
    }

    .project-block a {
        display: flex;
        text-decoration: none;
        font-weight: 500;
        gap: 0.5vw;
        align-items: center;
        color: white;
        font-size: 4.5vw;
    }

    .arrow-icon {
        width: 4.5vw;
        height: 4.5vw;
    }

    .project-img {
        border-radius: 1vw;
        width: 25vw;
        height: 25vw;
        object-fit: cover;
    }


    /* Footer */

    footer {
        background-color: #0d1324;
        /* border: 1px solid white; */
        padding: 4vw;
        display: flex;
        gap: 10vw;
        height: 50vw;
    }

    .footer-contact {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
    }

    .footer-contact>h3 {
        color: lightslategray;
        font-size: 4vw;
    }

    .footer-contact>p {
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-about a {
        text-decoration: none;
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-info>h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info>a {
        color: lightslategray;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 2vw;
        font-size: 3vw;
    }

    .icon-footer {
        color: lightslategray;
        width: 4vw;
        height: 4vw;
    }

    .footer-info>p {
        margin-top: 3vw;
        font-size: 2.5vw;
        color: white;
    }
}