{{>header}}
<main class="d-flex justify-content-center" id="send">
    <form onsubmit="sendEmail(event)" class="w-50 mb-5 mt-5">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label text-white" for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" />
                </div>
            </div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="pnumber">Phone number</label>
            <input type="number" id="pnumber" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label for="subject" class="form-label text-white">Subject</label>
            <select id="subject" name="subject" class="form-control">
                <option value="Interested on your service!">Interested on your service!</option>
                <option value="We would like to invite you!">We would like to invite you!</option>
                <option value="We want to communicate with you!">We want to communicate with you!</option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label text-white" for="message">Message</label>
            <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 text-white">Send</button>
    </form>
</main>
{{>footer}}