body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.active {
    background-color: hsla(230, 39%, 47%, 0.3);
    border-radius: 1vw;
}

.custom-container-project-none {
    display: none;
}

.post-project-container-none {
    display: none;
}

.post-project-container {
    display: flex;
    justify-content: center;
}

.custom-container-project {
    display: flex;
    height: fit-content;
    /* border: 1px solid white; */
    gap: 5vw;
    margin-bottom: 20vw;
}

.custom-container-project-none {
    display: none;
}

.img-custom-project {
    width: 93vw;
    height: 45vw;
}

.card-custom-project {
    width: 100vw;
    height: 100vw;
}

.custom-container-cta {
    /* border: 1px solid white; */
    margin-bottom: 60vw;
}



@media screen and (min-width: 992px) {

    .custom-container-landing {
        /* border: 1px solid white; */
        /* height: 50vh; */
        padding-top: 10vw;
    }

    .custom-container-cta {
        height: 30vw;
        /* border: 1px solid white; */
        margin-bottom: 20vw;
    }

    .custom-container-project {
        display: flex;
        height: fit-content;
        /* border: 1px solid white; */
    }

    .custom-container-project-none {
        display: none;
    }

    .img-custom-project {
        width: 95%;
        height: 45%;
        margin: auto;
    }

    .card-custom-project {
        border: 1px solid blue;
        height: 28rem;
        width: 21.5rem;
        padding: 20px;
    }

    .custom-card-cta {
        width: 40vw;
    }

    .card-body h5 {
        font-size: 1.5vw;
    }

    .card-body p {
        font-size: 1vw;
    }

    .btn-edit-delete {
        height: 2vw;
    }

    .btn-edit-delete a {
        font-size: 1vw;
    }

    .more-btn {
        background-color: transparent;
        border: none;
    }

    .more-menu-na {
        list-style-type: none;
        display: none;
    }

    .more-menu-na a {
        text-decoration: none;
        font-size: 1vw;
        /* border: 1px solid white; */
        color: white;
        padding: 0.8vw;
    }

    .more-menu-na a:hover {
        background-color: rgb(88, 95, 202);
        color: white;
    }

    .more-menu-a {
        display: block;
        position: absolute;
        margin-left: 80%;
        margin-top: 10%;
        width: 7vw;
        z-index: 1;
        display: flex;
        background-color: rgba(122, 122, 122, 0.927);
        flex-direction: column;
        /* border: 1px solid blue; */
        /* text-align: center; */
        /* border: 1px solid white; */
    }

    .project-link { 
        border: 1px solid white;
    }
}