body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;

    background: -webkit-linear-gradient(to bottom, #000000, #031931);

    background: linear-gradient(to bottom, #000000, #031931);

}

/* body {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 84, 1) 73%, rgba(2, 0, 36, 1) 100%);
} */

.active {
    background-color: hsla(230, 39%, 47%, 0.3);
    border-radius: 1vw;
}

.custom-container-project-none {
    display: none;
}

.post-project-container-none {
    display: none;
}

.post-project-container {
    display: flex;
    justify-content: center;
}

.custom-container-project {
    /* display: flex;
    height: fit-content; */
    /* border: 1px solid white; */
    /* gap: 5vw; */
    /* margin-bottom: 20vw; */
}

.custom-container-project-none {
    display: none;
}

.img-custom-project {
    width: 93vw;
    height: 45vw;
}

.card-custom-project {
    width: 100vw;
    height: 100vw;
}

.custom-container-cta {
    /* border: 1px solid white; */
    margin-bottom: 60vw;
}

.jumbo-block {
    /* From https://css.glass */
    background: rgba(41, 101, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(41, 101, 255, 1);
}

.card-text-custom {
    font-size: medium;
}

@media screen and (min-width: 992px) {

    .active {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.189);
    }

    nav li a {
        border-radius: 10px;
    }

    nav li a:hover {
        /* border-radius: 10px; */
        background-color: rgba(255, 255, 255, 0.189);
    }

    .custom-container-landing {
        /* border: 1px solid white; */
        /* height: 50vh; */
        padding-top: 10vw;
    }

    .custom-container-cta {
        height: 30vw;
        /* border: 1px solid white; */
        margin-bottom: 20vw;
    }

    .custom-container-project {
        /* display: flex;
        height: fit-content; */
        /* border: 1px solid white; */
    }

    .custom-container-project-none {
        display: none;
    }

    .img-custom-project {
        width: 95%;
        height: 45%;
        margin: auto;
    }

    .card-custom-project {
        border: 1px solid blue;
        height: 28rem;
        width: 21.5rem;
        padding: 20px;
    }

    .custom-card-cta {
        width: 40vw;
    }

    .card-body h5 {
        font-size: 1.5vw;
    }

    .card-body p {
        font-size: 1vw;
    }

    .btn-edit-delete {
        height: 2vw;
    }

    .btn-edit-delete a {
        font-size: 1vw;
    }

    .more-btn {
        background-color: transparent;
        border: none;
    }

    .more-menu-na {
        list-style-type: none;
        display: none;
    }

    .more-menu-na a {
        text-decoration: none;
        font-size: 1vw;
        /* border: 1px solid white; */
        color: white;
        padding: 0.8vw;
    }

    .more-menu-na a:hover {
        background-color: rgb(88, 95, 202);
        color: white;
    }

    .more-menu-a {
        display: block;
        position: absolute;
        margin-left: 80%;
        margin-top: 10%;
        width: 7vw;
        z-index: 1;
        display: flex;
        background-color: rgba(122, 122, 122, 0.927);
        flex-direction: column;
        /* border: 1px solid blue; */
        /* text-align: center; */
        /* border: 1px solid white; */
    }

    .project-link {
        border: 1px solid white;
    }

    .card-text-custom {
        height: 8vw;
        /* border: 1px solid white; */
        font-size: 1vw;
    }

    .rotate-center {
        -webkit-animation: rotate-center 3s linear infinite both;
        animation: rotate-center 3s linear infinite both;
    }

    @-webkit-keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .heartbeat {
        -webkit-animation: heartbeat 2s ease-in-out infinite both;
        animation: heartbeat 2s ease-in-out infinite both;
    }

    @-webkit-keyframes heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }

    @keyframes heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }

    .shake-bottom {
        -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }

    @-webkit-keyframes shake-bottom {

        0%,
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        10% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        20%,
        40%,
        60% {
            -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
        }

        30%,
        50%,
        70% {
            -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
        }

        80% {
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        90% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }
    }

    @keyframes shake-bottom {

        0%,
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        10% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        20%,
        40%,
        60% {
            -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
        }

        30%,
        50%,
        70% {
            -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
        }

        80% {
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        90% {
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
        }
    }

    .shake-vertical {
        -webkit-animation: shake-vertical 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        animation: shake-vertical 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    }

    @-webkit-keyframes shake-vertical {

        0%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
            -webkit-transform: translateY(8px);
            transform: translateY(8px);
        }

        80% {
            -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
        }

        90% {
            -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
        }
    }

    @keyframes shake-vertical {

        0%,
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
            -webkit-transform: translateY(8px);
            transform: translateY(8px);
        }

        80% {
            -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
        }

        90% {
            -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
        }
    }
}