body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.active {
    background-color: hsla(230, 39%, 47%, 0.3);
    border-radius: 1vw;
}

main {
    padding: 3vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 10vw;
}

.custom-container-landing {
    /* height: 50vh; */
    padding-top: 10vw;
}

.img-custom-project {
    width: 100%;
    height: 50%;
}

.card-custom-project {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 90vw;
    gap: 2vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.form-none {
    display: none;
}

.form-block {
    display: block;
}

.card-none {
    display: none;
}

.btn-ed {
    margin-bottom: 10vw;
}

.more-menu-none {
    display: none;
}

.more-menu {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 255px;
}

.l-1 {
    width: 100%;
}

.l-1:hover {
    background-color: lightblue;
}

.l-2:hover {
    background-color: red;
}

.detail-block {
    display: block;
}
.detail-block-none {
    display: none;
}



@media screen and (min-width: 992px) {

    main {
        padding: 0vw 2vw 0vw 2vw;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        flex-direction: row;
        margin-bottom: 15vw;
    }

    .btn-ed {
        width: 48%;
        margin-bottom: 2vw;
    }

    .custom-container-landing {
        /* height: 50vh; */
        /* border: 1px solid white; */
        padding-top: 10vw;
    }

    .img-custom-project {
        width: 35%;
        height: 100%;
        object-fit: cover;
        border-radius: 2vw;
    }

    .card-custom-project {
        border: 0.1vw solid blue;
        border-radius: 2vw;
        flex-direction: row;
        display: flex;
        height: 23rem;
        width: 100%;
        gap: 2vw;
        /* margin-bottom: 10vw; */
        /* margin-top: 5vw; */
        padding: 2vw;
    }

    .card-custom-project-info-none {
        display: none;
    }

    .card-custom-project-none {
        display: none;
    }

    .card-custom-project-info {
        border: 0.1vw solid blue;
        border-radius: 2vw;
        flex-direction: row;
        display: flex;
        height: 23rem;
        width: 100%;
        gap: 2vw;
        margin-bottom: 5vw;
        margin-top: 5vw;
        padding: 2vw;
    }

    .custom-card-cta {
        width: 40vw;
    }

    .form-none {
        display: none;
    }

    .form-block {
        display: block;
    }

    .card-none {
        display: none;
    }

    .menu-project-detail {
        /* background-color: rgba(53, 60, 255, 0.192); */
        border: 0.1vw solid blue;
        border-radius: 2vw;
        width: fit-content;
        height: fit-content;
        display: flex;
        padding: 2vw;
        flex-direction: column;
        gap: 1vw;
    }

    .menu-btn {
        background-color: transparent;
        border: none;
        border-radius: 2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
    }

    .menu-btn:hover {
        background-color: rgba(128, 128, 128, 0.215);
    }

    .menu-icon {
        width: 2vw;
        height: 2vw;
    }

    .more-menu {
        top: 177px;
    }
}