body {
    margin: 0;
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    /* border: 1px solid white; */
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-icon {
    display: none;
}

.respons-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid white; */
    height: 10%;
    padding: 1vw;
    background-color: #000000;
    z-index: 1;
}

header ul {
    display: flex;
    gap: 10vw;
    list-style-type: none;
    align-items: center;
    /* border: 1px solid white; */
    margin-right: 6.5vw;
}

header img {
    border: 1px solid #174b83;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

header .nav-link {
    text-decoration: none;
    font-size: 1.2vw;
    padding: 30%;
    border-radius: 18%;
    display: inline-block;
}

.nav-link-color {
    color: grey;
}

.active {
    color: white;
    background-color: hsla(230, 39%, 47%, 0.3);
}

header .nav-link:hover {
    background-color: hsla(230, 39%, 47%, 0.3);
}

.contact {
    background-color: white;
    color: black;
    padding: 30%;
    font-size: 1vw;
    border-radius: 18%;
    transition: 0.2s;
    border: 1px solid white;
    text-decoration: none;
}

.contact:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Main */

main {
    display: flex;
    align-items: center;
    /* height: 50vw; */
}

.detail-container {
    /* border: 1px solid white; */
    height: fit-content;
    padding: 3vw;
    display: flex;
    gap: 0.5vw;
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.project-detail {
    /* border: 1px solid white; */
    height: 35vw;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: wrap;
}

.project-img {
    width: 40vw;
    height: 30vw;
    border-radius: 2vw;
    object-fit: cover;
    transition: 0.2s;
    border: 1px solid white;
}

.project-img:hover {
    opacity: 0.3;
}

h2 {
    color: white;
    /* border: 1px solid white; */
    height: fit-content;
    font-size: 2vw;
    width: 100%;
}

.options {
    display: flex;
    gap: 3vw;
    justify-content: end;
    align-items: center;
    /* border: 1px solid white; */
    width: 95%;
}

p,
a {
    color: white;
    font-size: 1.5vw;
    /* border: 1px solid white; */
    height: fit-content;
    width: 100%;
}

.options>a {
    width: fit-content;
}

a>.delete-icon {
    width: 3vw;
    height: 3vw;
    /* border: 1px solid white; */
}

.options>button>.edit-icon {
    color: white;
    width: 3.5vw;
    height: 3.5vw;
}

.options button {
    background-color: transparent;
    border: none;
}

/* Edit container */
.no-display {
    display: none;
}

.edit-container-none {
    display: none;
    color: white;
    /* border: 1px solid white; */
    padding: 5vw;
}

.edit-container {
    display: block;
    /* border: 1px solid white; */
    width: 100%;
    color: white;
}

.edit-container form {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 1.2vw;
}

.edit-container label {
    font-size: 1vw;
}

.edit-container h3 {
    font-size: 2vw;
}

.edit-container input {
    /* border: 1px solid white; */
    font-size: 1vw;
    height: 2vw;
}

.checkBox {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* height: 20vw; */
    /* border: 1px solid white; */
}

.checkBox #tech {
    width: 1vw;
    height: 1vw;
    margin: 0.5vw;
}

textarea {
    font-size: 1vw;
}

.submitBtn {
    width: 8vw;
    height: 3vw;
    font: 2vw;
}

/* Footer */

footer {
    background-color: #0d1324;
    /* border: 1px solid white; */
    padding: 3%;
    display: flex;
    gap: 10vh;
}

.footer-contact {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
}

.footer-contact>h3 {
    color: lightslategray;
    font-size: 2vw;
}

.footer-contact>p {
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-about a {
    text-decoration: none;
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-info>h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info>a {
    color: lightslategray;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vw;
    font-size: 1.5vw;
}

.icon-footer {
    color: lightslategray;
    width: 2vw;
    height: 2vw;
}

.footer-info>p {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
}

@media only screen and (max-width: 768px) {

    header {
        position: static;
    }

    header nav {
        /* border: 1px solid white; */
        justify-content: flex-end;
        margin: 0;
    }

    nav ul {
        display: none;
    }

    .respons-menu {
        padding: 2vw;
        margin: 0;
    }

    .menu-icon {
        display: block;
        width: 8vw;
        height: 8vw;
        color: white;
        cursor: pointer;
        margin-right: 5vw;
    }

    .respons-menu-on {
        display: block;
        margin: 0;
        background-color: #07111c;
    }

    .respons-menu ul {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding-right: 3vw;
    }

    .respons-menu a {
        text-decoration: none;
        color: grey;
        font-size: 3vw;
    }

    /* Main */

    main {
        height: 200vw;
        justify-content: center;
    }

    .detail-container {
        /* border: 1px solid white; */
        height: fit-content;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 4vw;
        align-items: center;
    }

    .project-detail {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        height: fit-content;
        width: 100%;
    }

    .project-img {
        width: 89vw;
        height: 55vw;
        border-radius: 2vw;
        object-fit: cover;
        transition: none;
    }

    .project-img:hover {
        opacity: 1;
    }

    h2 {
        color: white;
        font-size: 5vw;
    }

    .options {
        display: flex;
        gap: 10vw;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid white; */
        margin-bottom: 20vw;
    }

    p,
    a {
        color: white;
        font-size: 5.5vw;
    }

    .edit-icon,
    .delete-icon {
        width: 6.5vw;
        height: 6.5vw;
    }

    .options {
        display: flex;
        gap: 8vw;
        justify-content: end;
        align-items: center;
        /* border: 1px solid white; */
        width: 95%;
    }

    p,
    a {
        /* color: white;
        font-size: 1.5vw; */
        /* border: 1px solid white; */
        /* height: fit-content; */
        /* width: 100%; */
    }

    .options>a {
        width: fit-content;
    }

    a>.delete-icon {
        width: 8vw;
        height: 8vw;
        /* border: 1px solid white; */
    }

    .options>button>.edit-icon {
        color: white;
        width:8vw;
        height:8vw;
    }

    .options button {
        background-color: transparent;
        border: none;
    }

    /* Footer */

    footer {
        background-color: #0d1324;
        /* border: 1px solid white; */
        padding: 4vw;
        display: flex;
        gap: 10vw;
        height: 50vw;
    }

    .footer-contact {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        /* padding-top: 10px; */
    }

    .footer-contact>h3 {
        color: lightslategray;
        font-size: 4vw;
    }

    .footer-contact>p {
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-about a {
        text-decoration: none;
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-info>h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info>a {
        color: lightslategray;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 2vw;
        font-size: 3vw;
    }

    .icon-footer {
        color: lightslategray;
        width: 4vw;
        height: 4vw;
    }

    .footer-info>p {
        margin-top: 3vw;
        font-size: 2.5vw;
        color: white;
    }
}