body {
    margin: 0;
    /* border: 1px solid white; */
    font-family: poppins, sans-serif;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #031931);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #031931);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    /* border: 1px solid white; */
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-icon {
    display: none;
}

.respons-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    padding: 1vw;
    height: 10%;
    background-color: #000000;
    z-index: 1;
}

header ul {
    display: flex;
    gap: 10vw;
    list-style-type: none;
    align-items: center;
    /* border: 1px solid white; */
    margin-right: 6.5vw;
}

header img {
    border: 1px solid #174b83;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

header .nav-link {
    text-decoration: none;
    font-size: 1.2vw;
    padding: 30%;
    border-radius: 18%;
    display: inline-block;
}

.nav-link-color {
    color: grey;
}

.active {
    color: white;
    background-color: hsla(230, 39%, 47%, 0.3);
}

header .nav-link:hover {
    background-color: hsla(230, 39%, 47%, 0.3);
}

.contact {
    background-color: white;
    color: black;
    padding: 30%;
    font-size: 1vw;
    border-radius: 18%;
    transition: 0.2s;
    border: 1px solid white;
    text-decoration: none;
}

.contact:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


.add-container {
    /* border: 1px solid white; */
    height: 0.5vw;
    width: 10vw;
    display: flex;
    align-items: center;
    padding: 3vw;
}

.add-container>.addBtn {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    border-radius: 1vw;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 1.0vw;
    font-family: poppins;
    height: 4vw;
    transition: 0.2s;
}

.add-container>.addBtn:hover {
    background-color: white;
    color: black;
}

.add-container .add-icon {
    font-size: 1.5vw;
}

.add-container>.addBtn-active {
    background-color: white;
    color: black;
}

/* Main */

main {
    
}

.post-blog-container {
    /* border: 1px solid white; */
    display: flex;
    height: 130vw;
    justify-content: start;
    align-items: start;
    color: white;
    padding: 3vw 3vw 3vw 3vw;
    gap: 2vw;
}

.post-blog-container h3 {
    color: white;
    /* border: 1px solid white; */
    font-size: 1.5vw
}

.post-blog-container label {
    color: white;
}

.post-blog-container #file {
    /* border: 1px solid white; */
    border: 3px solid rgba(18, 77, 146, 0.838);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(52, 69, 181, 0.3);
    background: rgba(37, 44, 101, 0.2);
    padding: 2vw;
    width: 26vw;
    font-size: 1.2vw;
    border-radius: 1vw;
}

.post-blog-container>.form-blog {
    border: 3px solid rgba(18, 77, 146, 0.838);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
    width: 31vw;
    padding: 2vw;
    border-radius: 2vw;
}

.form-none {
    display: none;
}

.post-blog-container .checkBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(52, 69, 181, 0.3);
    background: rgba(37, 44, 101, 0.2);
    border: 3px solid rgba(18, 77, 146, 0.838);
    height: 15vw;
    width: 26vw;
    padding: 2vw;
}

.post-blog-container label {
    font-size: 1.4vw;
    /* border: 1px solid white; */
    width: 10vw;
}

.post-blog-container .checkBox input {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.3vw;
}

.post-blog-container .checkBox label {
    font-size: 1.1vw;
    width: 5vw;
    margin-right: 6vw;
}

.post-blog-container form button {
    color: white;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 10vw;
    font-size: 1vw;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 2vw;
}

.post-blog-container form button:hover {
    background-color: white;
    color: black;
}

.post-blog-container form textarea {
    font-size: 1vw;
    padding: 1vw;
    font-family: poppins;
}

.post-blog-container #pname {
    height: 2vw;
    width: 30vw;
    font-family: poppins;
}

#sDate,
#eDate {
    width: 30vw;
    height: 2.5vw;
    font-size: 1vw;
    padding: 0.3vw;
    font-family: poppins;
}

.project-display {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: start;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

.project-display-col {
    /* border: 1px solid white; */
    justify-content: start;
    align-items: start;
    position: sticky;
    top: 10vw;
    width: fit-content;
}

.project-container {
    width: 36.5vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 4px solid rgba(52, 69, 181, 0.3);
    background: rgba(37, 44, 101, 0.2);
    border: 3px solid rgba(18, 77, 146, 0.838);
    height: 40vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vw;
    border-radius: 2vw;
}

.project-container h2 {
    font-size: 1.5vw;
}

.project-container p {
    font-size: 1vw;
    line-height: 2vw;
    font-weight: 300;
}

.project-container-col {
    width: 18vw;
    height: auto;
}

.project-container .project-img {
    border-radius: 2vw;
    width: 36.5vw;
    height: 18vw;
    object-fit: cover;
}

.project-container .project-container-img-col {
    width: 18vw;
    height: 10vw;
}

.project-detail {
    /* border: 1px solid white; */
    padding: 0;
}

.project-detail-none {
    display: none;
}

.project-detail .desc {
}

.project-detail .duration {
    font-weight: 500;
}

.options {
    display: flex;
    height: 5vw;
    justify-content: space-between;
    width: 100%;
}

.option {
    display: flex;
    gap: 3vw;
}

.options a {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

.options-none {
    display: none;
}

.delete-icon,
.arrow-icon {
    width: 2.3vw;
    height: 2.3vw;
}

.edit-icon {
    width: 2.5vw;
    height: 2.5vw;
}

/* Footer */

footer {
    background-color: #0d1324;
    /* border: 1px solid white; */
    padding: 3%;
    display: flex;
    gap: 10vh;
}

.footer-contact {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.footer-contact>h3 {
    color: lightslategray;
    font-size: 2vw;
}

.footer-contact>p {
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-about a {
    text-decoration: none;
    color: lightslategray;
    font-size: 1.3vw;
}

.footer-about h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-info>h3 {
    font-size: 2vw;
    color: lightslategray;
}

.footer-info>a {
    color: lightslategray;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vw;
    font-size: 1.5vw;
}

.icon-footer {
    color: lightslategray;
    width: 2vw;
    height: 2vw;
}

.footer-info>p {
    margin-top: 30px;
    font-size: 1vw;
    color: white;
}

@media only screen and (max-width: 768px) {

    body {
        height: 100%;
    }
    
    /* header */

    header {
        position: static;
    }

    header nav {
        /* border: 1px solid white; */
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: 0;
    }

    .add-container {
        display: none;
    }

    .add-respons>.add-icon-respons {
        color: white;
        width: 7vw;
        height: 7vw;
        margin-left: 8vw;
    }

    nav ul {
        display: none;
    }

    .respons-menu {
        padding: 2vw;
        margin: 0;
    }

    .menu-icon {
        display: block;
        width: 8vw;
        height: 8vw;
        color: white;
        cursor: pointer;
        margin-right: 5vw;
    }

    .respons-menu-on {
        display: block;
        margin: 0;
        background-color: #07111c;
    }

    .respons-menu ul {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding-right: 3vw;
    }

    .respons-menu a {
        text-decoration: none;
        color: grey;
        font-size: 3vw;
    }

    /* Main */

    main {
        height: fit-content;
    }
    
    .main-if {
        height: 200vw;
    }

    .post-blog-container {
        padding: 0 0 40vw 0;
        height: fit-content;
        justify-content: center;
    }

    .project-display {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        height: fit-content;
    }

    .project-container {
        width: 100%;
        padding: 2vw 0 8vw 0;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5vw;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    .project-container .project-img {
        width: 90vw;
        height: 65vw;
    }

    .project-detail {
        /* border: 1px solid white; */
        height: fit-content;
        width: 95vw;
        display: flex;
        flex-direction: column;
    }

    .project-detail h2 {
        font-size: 4vw;
    }

    .project-detail p {
        font-size: 2.5vw;
        line-height: 2;
    }

    .options {
        /* border: 1px solid white; */
        width: 90vw;
    }

    .project-display-col {
        display: none;
    }

    .options a {
        display: flex;
        align-items: center;
        gap: 1vw;
        color: white;
        text-decoration: none;
        font-size: 2.5vw;
    }

    .option {
        gap: 10vw;
    }

    .delete-icon,
    .arrow-icon {
        width: 5vw;
        height: 5vw;
    }

    .edit-icon {
        width: 5vw;
        height: 5vw;
    }

    .project-display-col {
        display: none;
    }

    .post-blog-container h3 {
        color: white;
        /* border: 1px solid white; */
        font-size: 4vw
    }

    .post-blog-container label {
        color: white;
    }

    .post-blog-container #file {
        /* border: 1px solid white; */
        border: 3px solid rgba(18, 77, 146, 0.838);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 4px solid rgba(52, 69, 181, 0.3);
        background: rgba(37, 44, 101, 0.2);
        padding: 2vw;
        width: 70vw;
        font-size: 2vw;
        border-radius: 1vw;
    }

    .post-blog-container>.form-blog {
        border: none;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        gap: 5vw;
        width: 78vw;
        height: 200vw;
        padding: 2vw;
    }

    .form-none-repons {
        display: block;
    }

    .post-blog-container .checkBox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid white; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 4px solid rgba(52, 69, 181, 0.3);
        background: rgba(37, 44, 101, 0.2);
        border: 3px solid rgba(18, 77, 146, 0.838);
        height: 50vw;
        width: 70vw;
        padding: 2vw;

    }

    .post-blog-container label {
        font-size: 3vw;
        /* border: 1px solid white; */
        width: fit-content;
    }

    .post-blog-container .checkBox input {
        width: 3.3vw;
        height: 3.3vw;
        margin-right: 0.3vw;
    }

    .post-blog-container .checkBox label {
        font-size: 3.1vw;
        width: fit-content;
        margin-right: 6vw;
    }

    .post-blog-container form button {
        color: black;
        padding: 0.5vw;
        border-radius: 1vw;
        width: 15vw;
        font-size: 3vw;
        background-color: white;
        /* border: 1px solid white; */
        margin-top: 2vw;
    }

    .post-blog-container form textarea {
        font-size: 3vw;
        padding: 1vw;
        font-family: poppins;
    }

    .post-blog-container #pname {
        height: 6vw;
        width: 73vw;
        font-family: poppins;
    }

    #sDate,
    #eDate {
        width: 73vw;
        height: 4.5vw;
        font-size: 2.5vw;
        padding: 0.3vw;
        font-family: poppins;
    }


    /* footer */

    footer {
        background-color: #0d1324;
        /* border: 1px solid white; */
        padding: 4vw;
        display: flex;
        gap: 10vw;
        height: 50vw;
    }

    .footer-contact {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
    }

    .footer-contact>h3 {
        color: lightslategray;
        font-size: 4vw;
    }

    .footer-contact>p {
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-about a {
        text-decoration: none;
        color: lightslategray;
        font-size: 2.5vw;
    }

    .footer-about h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .footer-info>h3 {
        font-size: 4vw;
        color: lightslategray;
    }

    .footer-info>a {
        color: lightslategray;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 2vw;
        font-size: 3vw;
    }

    .icon-footer {
        color: lightslategray;
        width: 4vw;
        height: 4vw;
    }

    .footer-info>p {
        margin-top: 3vw;
        font-size: 2.5vw;
        color: white;
    }
}